@use "sass:list";
@use 'mixins' as *;
@use 'variables' as *;

.contacts-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: 1023px) {

  }
}

.contacts-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.contact-list {
  width: 40%;
  border-right: 1px solid #ddd;
}

.add-contact-btn {
  max-width: 20rem;
  padding: 10px 20px;
  background-color: #2A6FF4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font-size: large;

  &:hover {
    background-color: #0062cb;
  }
}

.contact-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.contact-item:hover {
  background-color: #d2e4ff;
}

.contact-item.selected {
  background-color: #2a64f8;
  color: white;
}

$color-palette: #ff5733, #33ff57, #3357ff, #f1c40f, #9b59b6, #2ecc71, #e74c3c, #1abc9c, #3498db, #f39c12;

@mixin initials-color($index) {

  background-color: list.nth($color-palette, ($index % list.length($color-palette)) + 1);

}

.contact-initials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
  color: white;

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      @include initials-color($i);
    }
  }
}

.contact-details {
  width: 55%;
  padding: 20px;
  align-self: center;
}

.contact-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
}

.contact-details h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-actions {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: row;
}

.contact-detail-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit-btn,
.delete-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  border: 1px solid;
  border-radius: $radius-md;
  padding: $spacing-sm;
  background: none;
  font-size: $font-size-sm;
  gap: $spacing-xs;

  &.edit-btn {
    color: $color-white;
    background-color: $color-primary;
    border: $color-grey;
  }

  img {
    width: $icon-size-sm;
    height: $icon-size-sm;
  }
}

.edit-btn:hover {
  background-color: $color-primary-light;
}

.delete-btn:hover {
  color: $color-grey-dark;
}

.overlay {
  position: fixed;
  top: 0;
  right: -400px;
  width: 350px;
  height: 100%;
  background-color: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  border-radius: 25px 0 0 25px;

  &.open {
    right: 0 !important;
    /* Fährt ins Bild */
  }
}

.overlay-header {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #2A6FF4;
  padding: 1rem;
  border-radius: 25px 0 0 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.overlay_inputs {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
}

.overlay_inputs input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-bottom-color 0.3s;
}

.overlay_inputs input:focus {
  border-bottom-color: #2a64f8;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper input {
  flex: 1;
}

.input-icon {
  position: absolute;
  right: 10px;
  color: #aaa;
  font-size: 18px;
}

.overlay_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .cancel_btn {
    background-color: white;
    color: #ccc;
    border: 1px solid #ccc;
    transition: transform 1.5s ease-in-out;

    &:hover {
      color: #0062cb;
      border: 1px solid #0062cb;
    }

  }

  .add_btn {
    display: flex;
    align-items: center;
    background-color: #2A6FF4;
    color: white;

    &:hover {
      background-color: #0062cb;
    }
  }

}

.edit-overlay {
  position: fixed;
  top: 0;
  left: -400px;
  width: 350px;
  height: 100%;
  background-color: white;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  border-radius: 0 25px 25px 0;

  &.open {
    left: 0;
    /* Fährt ins Bild */
  }
}

.overlay-edit-header {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #2A6FF4;
  padding: 1rem;
  border-radius: 0 25px 0 0;
}

.save_btn {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.save_btn:hover {
  background-color: #0056b3;
}