<nav class="fixed bottom-0 left-0 w-full bg-white border-t shadow z-50 flex justify-around py-2">
    <a routerLink="/summary" routerLinkActive="text-primary" class="flex flex-col items-center text-gray-400 hover:text-primary">
      <img src="assets/icons/summary-icon.png" class="w-6 h-6" />
      <span class="text-xs mt-1">Summary</span>
    </a>
    <a routerLink="/add-task" routerLinkActive="text-primary" class="flex flex-col items-center text-gray-400 hover:text-primary">
      <img src="assets/icons/task-icon.png" class="w-6 h-6" />
      <span class="text-xs mt-1">Add</span>
    </a>
    <a routerLink="/dashboard" routerLinkActive="text-primary" class="flex flex-col items-center text-gray-400 hover:text-primary">
      <img src="assets/icons/board-icon.png" class="w-6 h-6" />
      <span class="text-xs mt-1">Board</span>
    </a>
    <a routerLink="/contacts" routerLinkActive="text-primary" class="flex flex-col items-center text-gray-400 hover:text-primary">
      <img src="assets/icons/contacts-icon.png" class="w-6 h-6" />
      <span class="text-xs mt-1">Contacts</span>
    </a>
  </nav>
  